:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #0b1220;
    background: #f3f5f9;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: inherit;
}
